*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.landing{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}
video {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
.contenedor{
    max-width: 70%;
    margin: auto;
}
.bg-primary{
    background-color: rgb(154, 0, 0);
}
.text-primary{
    color: rgb(154, 0, 0);
}
.btn-primary{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(154, 0, 0);
    border-radius: 5px;
    transition: .3s;
}
.btn-primary:hover{
    background-color: rgb(131, 0, 0);
}
.btn-secondary{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(154, 0, 0);
    border-radius: 5px;
    transition: .3s;

}
.btn-secondary:hover{
    background-color: rgb(231, 231, 231);
}
.hover-primary:hover{
    color: rgb(154, 0, 0);
}

/* FONTS */

.font-title{
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
  }

.font-text{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.font-text-bolder{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bolder;
  }

/*  */

@media (max-width: 750px) {
    .contenedor{
        max-width: 85%;
    }
    .landing{
        height: 100vh;
    }
    video{
        height: 100vh !important;
    }
    .d-none{
        display: none;
    }
}